.add {
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.label {
  color: var(--brand-black);
  margin-right: 20px;
}
.textInput {
  border: 0 solid #000000;
  background-color: var(--input-background);
  color: var(--brand-grey-dark);
  width: 400px;
  height: 20px;
  margin-top: 20px;
}
.publishButton {
  background-color: var(--buttons-color);
  color: var(--yellow);
  border: 0 solid #000000;
  padding: 13px 19px 13px 19px;
  margin-top: 20px;
}

.lastInputDiv{ 
  margin-bottom:25px;
}